@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Gradient animation for project folders */
@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-rotate 6s linear infinite;
  background-size: 200% 200%;
}
